---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<div class="hero relative bg-white">
  <div class="top-0 w-full h-full">
    <div class="flex flex-col justify-center items-center py-10 w-full h-full">
      <h1 class="text-blue-100 text-center mb-0 text-3xl leading-5xl max-w-md md:max-w-full">Bootcamp: Web and App Development with JAMStack</h1>
    </div>
  </div>
</div>
<article>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In condimentum urna vel leo laoreet, rhoncus sagittis metus consectetur. Integer vel porttitor nunc, id scelerisque dolor. Morbi dolor dui, lobortis placerat fermentum sit amet, ornare sed urna. Ut non eros vitae velit rhoncus imperdiet. Vivamus sodales ipsum odio, sed dictum lorem feugiat at. Vivamus sed lorem velit. Vivamus semper pharetra magna, vitae efficitur leo dignissim a. Vestibulum aliquam mattis erat sed pharetra. Praesent vel pellentesque nisi.</p>
  <p>Curabitur placerat varius eleifend. Praesent in finibus urna. Suspendisse ac ipsum in massa finibus pharetra et non sem. Nunc id vehicula enim. Ut molestie laoreet diam, sit amet luctus arcu vehicula accumsan. Donec id condimentum nunc, nec posuere dolor. Morbi sed nulla hendrerit, efficitur augue ut, faucibus nibh. Sed ultrices pretium dolor, non tempor nibh viverra sed. Nunc finibus tortor a ante egestas, et aliquet dolor ultricies. Cras consectetur magna leo, quis tristique augue volutpat a. Nam euismod tincidunt neque. Sed arcu felis, aliquam sit amet dapibus ut, venenatis non erat.</p>
</article>
{% include "layouts/application.njk" %}
