---
layout: 'layouts/base.njk'
meta_title: Thank you
title: Thank You
subtitle: {{ subtitle }}
---
<div class="container max-w-full md:pt-22 pt-20">
  <main id="main" class="main flex flex-1 flex-col focus:outline-none" tabindex="-1">
    <div class="inner max-w-5xl pt-20 md:mb-20 mb-12 text-center">
      <h1>Thank you</h1>
      <p>Thanks for getting in touch, one of the team (most likely Fiona) will follow up asap.</p>
      <a href="https://www.thecodersguild.org.uk" class="inline-block mt-6 py-2 px-6 font-bold bg-blue-200 text-white rounded font-heading hover:bg-blue-100 ">Return to site</a>
    </div>
  </main>
</div>

